.container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    
}

.connection{
    display: flex;
    width: 100%;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,.1);
    cursor: pointer;
    
}

.profilePic>img{
    width: 6.5rem;
    border-radius: 50%;
}

.connectedButton{
    padding-inline: .8rem;
    padding-block: .3rem;
    border: 1px solid rgba(3, 93, 183, .905);
    outline: none;
    color: rgba(3, 93, 183, .905);
    border-radius: 10px;
    cursor: pointer;
    margin-top: .8rem;
}

