.container{
    /* font-family: "Poppins"; */
    padding: 1.2rem;
    
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-inline: 2rem;
    height: 80vh;
}

.main_container_left{
    flex:.5;

}
.main_container_right{
    flex: .5;
}

.main_container_left >p:nth-child(1){
    font-size: 2.9rem;
    background: -webkit-linear-gradient(30deg,#000000,#39c39e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_container_left >p:nth-child(2){
    color: #4D4D4D;
    font-size: 1.7rem;
        background: -webkit-linear-gradient(45deg,#000000,#39c39e);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.main_container_left >div.buttonJoin{
    width: fit-content;
    cursor: pointer;
    font-size: 1.4rem;
    padding-inline: 1.2rem;
    padding-block: .6rem;
    border-radius: 20px;
   margin-top: .8rem;
   user-select: none;
   transition: all .2s;
    background: #e87171;
}