.scrollComponent{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 90%;
}

.createPostContainer{
    display: flex;
    height: 10svh;
    width: 100%;
    padding-inline: .8rem;
    gap: 1.3rem;
    position: relative;
    align-items: center;
    border-radius: 20px;
    background: rgb(249, 235, 235);
    
}

.userProfile{ 
     height: 70%;
    border-radius: 100%;
  
    width: fit-content;
}

.createPostContainer>textarea{
    width: 100%;
    
}

.fab{
    background:rgb(25, 244, 244);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.fab>svg{

    width: fit-content;
    height: 40px;
}


.textAreaOfContent{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: .8rem;
    outline: none;
}

.uploadButton{
    position: absolute;
    right: 0;
    bottom: -35%;
    background: rgb(0, 255, 213);
    padding-inline: 1.2rem;
    padding-block: .5rem;
    border-radius: 10px;
    cursor: pointer;
}

.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid silver;
}

.singleCardProfileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}

.singleCardProfileContainer>img{
    width: 10%;
   
    border-radius: 50%;
}

.singleCard_img{
    width: 100%;
    padding-top: 1rem;
    height: fit-content;
    overflow: hidden;
}

.singleCard_img>img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.optionContainer{
    display: flex;
    height: 20%;
    width: 100%;
    padding-block: .6rem;

}

.singleOption{
    display: flex;
    align-items: center;
    gap: .8rem;
    justify-content: center;
    
}
.singleOption>svg{
    height: 100%;
    width: 10%;cursor: pointer;
}

.commentsContainer{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left:0;
    z-index: 2;
    overflow: hidden;
   background: rgba(0, 0, 0, .7);
   display: flex;
   justify-content: center;
   align-items: center;
}

.allCommentsContainer{
    height: 80vh;
    width: 40vw;
    background: white;
    border-radius: 20px;
    position: relative;
    padding: 1.4rem;

}

.postCommentContainer{
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 1.2rem;
}

.postCommentContainer>input{
   flex: .9;
   padding-inline: 1.5rem;
   padding-block: 1.2rem;
   border-radius: 10px;
   border: none;
   outline: none;
   background: rgb(228, 228, 228);
}

.postCommentContainer>input:focus{
    border: 1px solid silver;

}

.postCommentContainerButton{
    flex: .1;
    background: orange;
    padding:1rem;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    color: white;
    cursor: pointer;
}

.singleComment{
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    /* background: gray; */
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid silver;
   
  
}

.singleCommentProfileContainer{
    display: flex;
    gap: .6rem;
    
}

.singleCommentProfileContainer>img{
    width: 10%;
    border-radius: 50%;
}
