.container{
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.backDrop{
    width: 100%;
    height: 30vh;
    background: url("https://images.pexels.com/photos/35494633/pexels-photo-35494633.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.backDrop>img{
    width: 8em;
    height: 8em;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 8%;
    bottom: -30%;
    text-align: center;
}

.profileDetailsContainer{
    padding-top:5rem;
}

.postCard{
    margin-top: 1rem;
}

.card{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.cardProfileContaier{
    display: flex;
}

.cardProfileContaier>img{
    width: 3.4rem;
    height: 3.4rem;
    object-fit: cover;
}

.connectedButton{
    padding-inline: .8rem;
    padding-block: .3rem;
    border: 1px solid rgba(3, 93, 183, .905);
    outline: none;
    color: rgba(3, 93, 183, .905);
    border-radius: 10px;
    cursor: pointer;
    margin-top: .8rem;
}

.connectButton{
     margin-top: .8rem;
    padding-inline: .8rem;
    padding-block: .3rem;
    background: rgba(3, 93, 183, .905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.workHistoryContaainer{
    display: flex;
    gap: 1.4rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;
}

.workHistoryCard{
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(73, 73, 73);
}

