.container{
    display: flex;
    height: 90svh;
    background: snow;
    justify-content: center;
    align-items: center;
}

.card_container{
    height: 80vh;
    display: flex;
    width: 80vw;
    background-color: red;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    box-shadow: 10px 10px 15px rgb(173, 173, 173);
}


.card_container_left{
    flex: .6;
    padding: 2rem;
    text-align: center;
}

.cardleft_heading{
    font-weight: bold;
    font-size: 1.8rem;
}

.input_containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.3rem;
    max-width: 400px;
    margin: 0 auto; 
    gap: 1.5rem;
}

.input_feild{
    padding-inline: 1.3rem;
    padding-block: .8rem;
    border-radius: 10px;
    border: 1px solid silver;
    outline: none;
    width: 100%;
   
}

.input_row{
    display: flex;
    width: fit-content;
    gap: 1.2rem;
}

.button_with_outline{
    padding: .8rem 1.3rem;
    width: 100%;
    border-radius: 10px;
    background: rgb(236, 236, 236);
    cursor: pointer;
    font-size: 1rem;
    border: .5px solid black;
}

.button_with_outline:hover{
    background: #07f7d7;
}

.card_container_right{
    flex: .4;
    display: flex;
    background: #07f7d7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
   font-size: 1.5rem;
    padding-inline: 1.2rem;
    
}