.container{
    padding: 1rem;
}

.allUserProfile{
     max-width: 80%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 1.2rem;
}

.userCard{
    display: flex;
    gap: 1.2rem;
    padding: 1.3rem;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0,.1);
    align-items: center;
    width: 100%;
    cursor: pointer;
    height: 14vh;
}

.userCard_img{
    width: 10%;
    height: 100%;
    border-radius: 50%;
}